* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    height: 100px;
    position: fixed;
    z-index: 69;
    margin-left: 970px;
    margin-top: 20px;
}

.contenitore {
    max-width: 1200px;
    margin: auto;
}

a, ul, nav, li{
    display: inline-block;    
}

h1 {
    font-size: 40px;
}

.numeri {
    color: black;
    font-size: 23px;
}

.cerchi {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-right: 20px;
}


.sfondo-scarpa-1 {
    height: 100vh;
    position: relative;
    background-color: #ff0000;

}

.sfondo-scarpa-2 {
    height: 100vh;
    position: relative;
    background-color: #008000;
}

.sfondo-scarpa-3 {
    height: 100vh;
    position: relative;
    background-color: #ffff00;
}

#scarpa-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scarpa-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scarpa-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo-scarpa-giallo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff00;
}

.testo-scarpa-verde {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #008000;
}

